/* CSS HEX
--tangerine-dream: #eb8c60;
--powder-petal: #ffe2d1;
--lavender-veil: #eadffc;
--soft-periwinkle: #9889df;
--dark-amethyst: #21194c;
https://coolors.co/eb8c60-ffe2d1-eadffc-9889df-21194c
*/