:root {
    --saddle-brown: #833C0B;
    --tangerine-dream: #eb8c60;
    --powder-petal: #ffe2d1;
    --lavender-veil: #eadffc;
    --white-smoke: #f5f5f5;
    --soft-periwinkle: #9889df;
    --dark-amethyst: #21194c;
    /* https://coolors.co/eb8c60-ffe2d1-eadffc-9889df-21194c */
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Lexend", sans-serif;
}

body>div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &:not(.hero, .techstack) {
        padding: 2rem 2rem 6rem 2rem;
    }
}

h1 {
    color: var(--lavender-veil);
    font-size: 3rem;
    font-weight: 500;

    @media (aspect-ratio > 10/7) {
        font-size: 5.5vw;
        color: var(--dark-amethyst);
    }
}

h2 {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 1.7rem;
    color: var(--soft-periwinkle);
    font-weight: 600;

    @media (aspect-ratio > 10/7) {
        font-size: 3vw;
    }
}

h3 {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--tangerine-dream);
}

p {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--dark-amethyst);
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    border: 0px;
    background-color: var(--powder-petal);
    color: var(--dark-amethyst);
    border: 2px solid var(--powder-petal);
    border-radius: 50px;
    padding: 0.7rem 1.1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    overflow: hidden;

    @media (aspect-ratio > 7/9) {
        padding: 1rem;
    }

    &:hover {
        background-color: var(--soft-periwinkle);
    }
}

button.cv {
    height: 56px;
    width: 56px;
    padding: 0;
    text-align: center;
}

button.highlight {
    background-color: var(--tangerine-dream);
    border: 2px solid var(--tangerine-dream);

    &:hover {
        background-color: var(--dark-amethyst);
        border: 2px solid var(--soft-periwinkle);
        color: var(--lavender-veil)
    }
}

button .fa-file-arrow-down {
    display: none;
    font-size: 1.1rem;
    padding: 0;
}

button:hover a.download {
    display: none;
}

button:hover .fa-file-arrow-down {
    display: inline;
}

.hero {
    background-color: var(--dark-amethyst);
}

.header-img {
    text-align: center;

    @media (aspect-ratio > 7/9) {
        position: relative;
    }
}

.animation-wrapper {
    display: grid;
    width: 100%;
}

.anim-frame {
    grid-area: 1 / 1;
    opacity: 0;
    transition: filter 0.3s linear;
}

.anim-frame.active {
    opacity: 1;
}

.anim-frame img {
    width: 100%;
    display: block;
}

.ontop-hero {
    display: none;

    @media (aspect-ratio > 10/7) {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10px;
        right: 5vw;
        white-space: nowrap;
        margin-bottom: 1rem;
    }
}

.header-divider nav {
    display: none;

    @media (aspect-ratio > 10/7) {
        min-width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5%;
        gap: 1rem;
    }
}

.header-divider {
    height: 3rem;
    width: 100%;
    margin-top: -5px;
    background-color: #565077;

    @media (aspect-ratio > 10/7) {
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
}

.below-hero {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    margin: auto;

    @media (aspect-ratio > 10/7) {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;

}


.testimonials {
    background-color: var(--dark-amethyst);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    height: 100%;
}

.quote-card {
    width: 80vw;
    padding: 60px 30px 50px;
    border-radius: 32px;
    background-color: #565077;
    margin: 1rem 0;
    position: relative;
    text-align: center;
}

.quote-card q {
    text-align: center;
    color: var(--lavender-veil);
}

q:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0.5rem;
    left: 1.5rem;

    content: "\f10d";
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.1);
}

.quote-card p {
    text-align: right;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}



.about-me-section {
    justify-content: center;
    align-items: center;
    background-color: var(--powder-petal);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-content: center;

    @media (aspect-ratio > 10/7) {
        display: grid;
        grid-template-areas:
            "portrait text-about-me"
            "portrait quick-facts";
        grid-template-columns: 2fr 3fr;
        gap: 12px;
        max-width: 1000px;
    }
}

.about-me div.text-about-me {
    grid-area: text-about-me;

    p {
        margin: 1rem 0px;
    }
}

.in-section-h1 {
    color: var(--saddle-brown);
    font-size: 2.5rem;
}

.in-section-h2 {
    color: var(--tangerine-dream);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0px 20px;
}

.about-me p {
    padding: 0px 20px;
}

.about-me div.quick-facts {
    grid-area: quick-facts;
    margin: 0px 12px;

    p {
        color: var(--powder-petal);
    }
}

.fact-card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--saddle-brown);
    margin: 10px 0;
    padding: 5px 20px;
    border-radius: 32px;
}

.portrait {
    margin-top: 20px;
    align-self: center;

    @media (aspect-ratio > 10/7) {
        order: -1;
        grid-area: portrait;
        margin-top: 0px;
    }
}

.portrait img {
    width: 100%;
    height: auto;
    max-width: 475px;
    border-radius: 8px;
}



.projects,
.project-header {
    background-color: var(--tangerine-dream);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--powder-petal);
    padding: 2rem;
    border-radius: 8px;
    margin-top: 1rem;

    @media (aspect-ratio > 10/7) {
        width: 1000px;
        height: 800px;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 30px;
    }
}

.project-header .in-section-h1 {
    color: var(--dark-amethyst);
}

.project-header .in-section-h2 {
    color: var(--saddle-brown);
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--tangerine-dream);
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;

    @media (aspect-ratio > 7/9) and (aspect-ratio < 10/7) {
        flex-direction: row;
        align-items: flex-end;
    }

    @media (aspect-ratio > 10/7) {
        max-width: 280px;
    }
}

.project-img-div {
    background-color: var(--white-smoke);
    height: 160px;
    width: 160px;
    display: none;
    flex-shrink: 0;

    @media (aspect-ratio > 7/9) {
        display: block;
    }
}

.project-card p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.project-card img {
    height: 100%;
    width: 100%;
}


.techstack {
    min-height: auto;
    padding: 2rem;
    background-color: var(--lavender-veil);
}

.carousel {
    display: flex;
    justify-content: center;
    overflow-x: auto;

    @media (width <=1632px) {
        justify-content: flex-start;
    }
}

.carousel::-webkit-scrollbar {
    display: none;
}

.stacklist {
    display: flex;

    @media (width <=1632px) {
        animation: spin 30s infinite linear;
    }
}

.stacklist.hidden {
    display: none;

    @media (width <=1632px) {
        display: flex;
    }
}

.stacklist li {
    display: flex;
    flex: 0 0 5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50px;
    corner-shape: squircle;
    margin: 0 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1) inset,
        -0.2rem -0.2rem 0.4rem rgba(255, 255, 255, 0.5) inset;
}

.stacklist img {
    height: 3rem;
    width: 3rem;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}


.contact-me {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-periwinkle);
    color: var(--dark-amethyst);
    font-weight: 400;
}

.contact-form {
    background-color: var(--lavender-veil);
    padding: 2rem;
    border-radius: 8px;

    @media (aspect-ratio > 10/7) {
        width: 750px;
    }
}

.form-header {
    text-align: end;
    font-size: 3rem;
}

label {
    display: block;
}

input[type=text],
input[type=email],
textarea {
    color: var(--dark-amethyst);
    background-color: var(--white-smoke);
    font-weight: 300;
    width: 100%;
    padding: 12px;
    margin: 8px 0px 1.5rem 0px;
    display: inline-block;
    border: 2px solid var(--white-smoke);
    border-radius: 8px;
    box-sizing: border-box;
}

.required:after {
    content: " *";
    color: var(--tangerine-dream);
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--soft-periwinkle);
}

textarea {
    height: 150px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    max-width: 350px;
    background-color: var(--dark-amethyst);
    color: var(--white-smoke);
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

input[type=submit]:hover {
    background-color: var(--tangerine-dream);
    color: var(--dark-amethyst)
}

.footer {
    min-height: 30vh;
    background-color: var(--dark-amethyst);
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;

    i {

        color: var(--lavender-veil);
    }
}