:root {
    --saddle-brown: #833C0B;
    --tangerine-dream: #eb8c60;
    --powder-petal: #ffe2d1;
    --lavender-veil: #eadffc;
    --white-smoke: #f5f5f5;
    --soft-periwinkle: #9889df;
    --dark-amethyst: #21194c;
    /* https://coolors.co/eb8c60-ffe2d1-eadffc-9889df-21194c */
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Lexend", sans-serif;
}

.hero {
    height: 100vh;
    background-color: var(--dark-amethyst);
}

.header-img {
    width: 100vw;
    position: fixed;
}